.contain{
    align-self: center;
    justify-items: center;
    width: 70%;
    background-color: rgb(94, 174, 194);
    margin: 20px;
    box-shadow: inset 10px 10px 10px rgb(101, 186, 207), inset -10px -10px 10px rgb(101, 186, 207);

}

.titleCont{
    width: 100%;
    justify-content: center;
    display: flex;
}

.emphasis{
    font-weight: 600;
    font-size: 40px;
    text-shadow: -5px -5px 10px rgb(126, 229, 255), 5px 5px 10px rgb(125, 229, 255);
    text-transform: capitalize;
}